<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>There has been an error. Get your shit together!</h1>
    <a href="/addData">Add correct data here</a><br>
    <a href="/dashboard">See your statistics here</a>
</body>
</html>

<style>
    body{
        text-align: center;
    }
</style>